<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="utf-8" />
	<meta content="width=device-width" name="viewport" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/views/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
	<div class="page-container">
		<div class="row row-1">
			<div class="row-content">
				<div class="col col-1 ">
					<div class="block block-1 title" onclick="window.location.href = '/';" style="cursor: pointer;"> 
                        <h3> See Heroes </h3> 
                    </div>
				</div>
				<div class="col col-2 ">
					<div class="container col-2">
                        <div class="parallelogram-3d-box market"> 
                            <a href="/marketplace">Marketplace</a>
                        </div>
                        <div class="parallelogram-3d-box mrvworld"> 
                            <a href="https://www.marvel.com/articles" target="_blank" >Marvel World News</a>
                        </div>
                        <div class="parallelogram-3d-box faq"> 
                            <a href="/#faq">FAQs</a>
                        </div>
                    </div>
				</div>
            </div>
		</div>

        <div class="mobile-menu">
            <div class="mobile-menu-icon" onclick="toggleMobileMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <div class="mobile-menu-content">
                <div class="mobile-menu-row mobile-row-1">
                    <a href="/marketplace"> Marketplace </a>
                </div>
                    <br>
                <div class="mobile-menu-row mobile-row-3">
                    <a href="/mrvworld"> Marvel World News </a>
                </div>
                    <br>
                <div class="mobile-menu-row mobile-row-4">
                    <a href="/faq"> FAQs </a>
                </div>
            </div>
        </div>

        <script>
            function toggleMobileMenu() {
                const mobileMenuContent = document.querySelector('.mobile-menu-content');
                mobileMenuContent.classList.toggle('show');
            }
        </script>


		<div class="row row-2" >
			<div class="row-content">
				<div class="col col-1 profile">
                    <div class="block block-1">
                        <div class="block picture" >
                            <i class="fas fa-user user-icon"></i>
                        </div>
                        <a href="/account/logout" class="button-logout"><i class="fas fa-sign-out-alt"></i></a>	
                    </div>
					<div class="block block-2 data">
                        <p><%= user_profile.name %></p>
                        <p><%= user_profile.username %></p>
                        <p><%= user_profile.email %></p>
                        <br>
                        <a class="edit-button" onclick="openEditMenu()">
                            <div>
                                <span>Edit Profile</span>
                            </div>
                        </a>
                    </div>
				</div>
                <div id="modalEditMenu" style="padding: 0">
                    <div id="modalEditMenuContent">
                        <a id="closeEditMenuForm">
                            <i onclick="document.getElementById('modalEditMenu').style.display='none'; document.getElementById('editProfileForm').reset();" >&times;</i>
                        </a>
                        <form id="editProfileForm" style="position: relative; color: #b11616;">
                            <input type="text" id="name" name="name" placeholder="Name" style="color: #b11616;">
                            <input type="text" id="username" name="username" placeholder="Username" style="color: #b11616;">
                            <input type="email" id="email" name="email" placeholder="Email" required style="color: #b11616;">
                            <input type="submit" value="Update Profile" style="color: #b11616;">
                        </form>
                    </div>
                </div>
                
				
				<div class="col col-2 mrvcard">
					<div class="container-mrvcard">
                        <div class="text-container-mrvcard" >
                            <h3 style="text-align: left; margin: 0;"> <%= user_profile.username %>'s Marvel Card</h3>
                            <br>
                            <h3 style="text-align: left; margin: 0;">Points: <%= user_profile.points %></h3>
                            <br>
                            <p style="text-align: left; margin: 0;">Date Created: <%= user_profile.createdAt %></p>                       
                        </div>
                    </div>
                    <div class="button-buypoints"">
                        <a onclick="openBuyForm()" id="buttonOpenBuyForm" style="text-decoration: none; color: white">
                            <div style="padding: 10px 20px; background-color: #b11616; color: white; text-decoration: none; border-radius: 25px; font-weight: bold; border: 2px solid #8b0000;">
                                <span>Buy Points</span>
                            </div>
                        </a>
                    </div>
                        <div id="modalPoints" style="padding: 0">
                            <div id="modalPointsContent">
                                <!-- <span onclick="document.getElementById('modalPoints').style.display='none'; document.getElementById('purchaseSubmitForm').reset(); document.getElementById('totalCost').innerHTML = 'Total Cost: 1 €'; " id="buttonOpenBuyForm" class="close" style="position: relative; color: #b11616; font-size: 36px; cursor: pointer; display: block; height: 30px">&times;</span> -->
                                    <a id="closeBuyPointsForm" >
                                        <i onclick="document.getElementById('modalPoints').style.display='none'; document.getElementById('purchaseSubmitForm').reset(); document.getElementById('totalCost').innerHTML = 'Total Cost: 1 €'; " style="color: #b11616;">&times;</i>
                                    </a>
                                    <form id="purchaseSubmitForm" style="position: relative; padding-top: 30px;">
                                    <select id="amount" name="amount" style="width: 60%; margin-bottom: 10px; background-color: white; color: #b11616; border: 2px solid #b11616; border-radius: 25px; padding: 5px;" onchange="updateTotalCost()">
                                        <% for (let i = 1; i <= 100; i++) { %>
                                            <option value="<%= i %>"><%= i %> points</option>
                                        <% } %>
                                    </select>
                                    <br>
                                    <label id="totalCost">Total Cost: 1€</label>
                                    <br>
                                    <script>
                                        function updateTotalCost() {
                                            var amount = document.getElementById('amount').value;
                                            document.getElementById('totalCost').innerHTML = 'Total Cost: ' + amount + '€';
                                        }
                                    </script>
                                    <input type="submit" value="Purchase" style="width: 60%; margin-top: 10px; padding: 10px; background-color: white; color: #b11616; border: 2px solid #b11616; border-radius: 25px; cursor: pointer;">
                                </form>
                            </div>
                        </div>
				</div>				
                
                <div class="col col-3 packets">
					<div class="container-packets">
						<div class="packet-box">
                            <div class="packet-header">
                                <p style="font-weight: bold;">Your Packets</p>
                            </div>
                            <div class="packet-main">
                                <ul class="packet-list" style=" list-style-type: none; padding: 0; display: flex; justify-content: space-around; align-items: center; height: 50px">
                                    <% user_packets.forEach(function(packet) { %>
                                        <li style="margin-right: 40px; margin-left: 10px">
                                            <a id="button-openpacket" onclick="openPacket(this)" style="cursor: pointer;">
                                                <svg width="70" height="100" viewBox="0 0 70 100" data-key="<%= packet._id %>">
                                                    <defs>
                                                        <pattern id="stripes-<%= packet._id %>" patternUnits="userSpaceOnUse" width="10" height="10">
                                                            <% if (packet.type === 'rare') { %>
                                                                <rect width="10" height="5" fill="#FF00FF"/>
                                                                <rect width="10" height="5" y="5" fill="#8B008B"/>
                                                            <% } else if (packet.type === 'legendary') { %>
                                                                <rect width="10" height="5" fill="#800080"/>
                                                                <rect width="10" height="5" y="5" fill="#4B0082"/>
                                                            <% } else { %>
                                                                <rect width="10" height="5" fill="#b11616"/>
                                                                <rect width="10" height="5" y="5" fill="#8b0000"/>
                                                            <% } %>
                                                        </pattern>
                                                    </defs>
                                                    <path d="M0,6.25 L5.83,0 L11.67,6.25 L17.5,0 L23.33,6.25 L29.17,0 L35,6.25 L40.83,0 L46.67,6.25 L52.5,0 L58.33,6.25 L64.17,0 L70,6.25 V93.75 L64.17,100 L58.33,93.75 L52.5,100 L46.67,93.75 L40.83,100 L35,93.75 L29.17,100 L23.33,93.75 L17.5,100 L11.67,93.75 L5.83,100 L0,93.75 Z" fill="url(#stripes-<%= packet._id %>)" stroke="#000000"/>
                                                </svg>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>							
                            </div>
                            <div class="packet-footer" style="display:flex; justify-content: center; padding: 20px;">
                                <a id="packetBuyButton" style="text-decoration: none; color: white" href="/account/dashboard/buypackets" style="margin: 0; color: white;">
                                    <div style="width:200px; background-color: #b11616; border: 2px solid #8b0000; border-radius: 25px; padding: 10px;">
                                        <span>Buy packets</span>
                                    </div>
                                </a>
                            </div>
						</div>
                    </div>
				</div>
			</div>



		</div>
		<div class="row row-3">
			<div class="row-content">
				<div class="col col-1 album">
                    <!-- album -->
                    <div class="albumContainer">
                        <div class="albumHeader">
                            <p class="albumTitle">Album</p>
                        </div>
                        
                        <div class="albumCentral">
                            <div class="pageSlider">
                                <span id="prevPage">←</span>
                                <span id="pageNum"></span>
                                <span id="nextPage">→</span>
                            </div>
                            <div class="userFigurines">
                                <!-- This container will be filled dynamically on dashboard load -->
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col col-2 character">
					<div class="characterContainer">
                        <div class="charTitle">
                            <p></p>
                        </div>
                        <div class="charImage">
                            <img src="" alt="Character Image">
                        </div>
                        <div class="charInfo">
                            <div class="charDesc">
                                <p></p>
                            </div>
                            <div class="charAppearances">
                                <p></p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>

		<div class="row row-4">
			<div class="row-content">
				<div class="col col-1 doubles">
                <!-- container for double figurines -->
                    <div class="doublesContainer">
                        <div class="doublesHeader">
                            <p>Doubles Figurines</p>
                        </div>
                        <div class="doubleMain">
                            <% user_doublefigurines.forEach(function(figurine) { %>
                            <div class="figurine-entry-double">
                                <div style="position: relative;">
                                    <% if(figurine.image_path.endsWith('image_not_available')) { %>
                                        <div id="noImagePlaceholder" style="margin-top: 20px; width: 100px; height: 150px; border-radius: 10px; border: 2px solid #8b0000; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;">
                                            <span style="font-size: medium; font-weight: bold"><%= figurine.name %></span>
                                            <span>Image</span>
                                            <span>Not</span>
                                            <span>Available</span>
                                        </div>
                                    <% } else { %>
                                        <img src="<%= figurine.image_path %>/portrait_small.<%= figurine.ext %>" alt="Figurine Image"
                                        onerror="this.parentNode.innerHTML = `<div style='margin-top: 20px; width: 100px; height: 150px; border: 2px solid #8b0000; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;''>
                                            <span style='font-size: medium; font-weight: bold'><%= figurine.name %></span><span>Image</span><span>Not</span><span>Available</span></div>`">
                                    <% } %>
                                </div>
                            </div>
                            <!-- Repeat the figurine-entry div for each figurine -->
                            <% }); %>
                        </div>
                    </div>
				</div>

				<div class="col col-2 ">
				
				</div>
			</div>
		</div>
	</div>



    <div id="modalPacket" style="display: none;">
        <div id="modalPacketsContent">
            <div id="loadingContent" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <p style="margin-right: 10px; color: white;">Opening packet</p>
                <i class="fas fa-spinner fa-spin" style="color: white; font-size: 24px;"></i>
            </div>
            <div id="figurinesContent" style="display: none;">
                <div style="height: 30px; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #ffffff;">
                    <p style="margin: 0; color: white; font-weight: bold;">Figurines Found</p>
                </div>
                <div id="figurines-container">
                <!--
                <div class="figurine entry">
                    <span></span>
                    <img classstyle="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                 -->
                </div>
                <div style="height: 80px; display: flex; justify-content: center; align-items: center; border-top: 1px solid #ffffff;">
                    <a id="returnDashButtonFigurines" href="/account/dashboard" style="text-decoration: none; color: white; width: 40%; text-align: center;">
                        <div style="background-color: #b11616; border: 2px solid #8b0000; border-radius: 25px; padding: 10px; transition: all 0.3s ease;">
                            <p style="margin: 0;">Return to Dashboard</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <% if(messages.errors) { %>
        <script>
            const errors = <%- JSON.stringify(messages.errors) %>;
            alert(errors[0].msg);
        </script>
    <% } %>
    
    

    <script>
        const userFigurines = <%- JSON.stringify(user_figurines); %>
        /***
        JSON.stringify performs the opposite operation of JSON.parse. 
        It converts JavaScript objects or arrays into a JSON string. 
        This process is called serialization.
        The <%- %> EJS tags are used in dashboard.ejs:1222 to output unescaped HTML. 
        In this case, it's necessary because JSON.stringify() produces a string 
        that may contain characters that would be escaped by default EJS output tags (<%= %>).
        ***/
    </script>

    <script src="/views/js/dashboard.js"></script>

</body>

</html>