<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="utf-8" />
	<meta content="width=device-width" name="viewport" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker:wght@100;200;300;400;500;600;700;800;900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<style>

		.button .content,
		.html-block {
			text-align: center
		}

		body {
			background-color: #f1a92b;
			color: #b11616;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
		}

		.row-content {
			display: flex
		}

		.button a,
		.icon .icon-label-right a,
		.menu ul li a {
			text-decoration: none
		}


        .row-1 .col-1 .block-1 h3 {
            color:#b11616;
            direction:ltr;
            font-family:'Permanent Marker', Impact, Charcoal, sans-serif;
            font-size:36px;
            font-weight:400;
            letter-spacing:1px;
            line-height:150%;
            margin-top:0;
            margin-bottom:0;
        }


		.row-1 .col-1 {
			padding: 20px 10px 20px 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
            width: 40vw;
		}

		.row-1 .col-2 {
			padding-bottom: 20px;
			padding-left: 10px;
			padding-top: 20px;
			display: flex;
			justify-content: right;
            width:70vw;
		}

        .row-1 .col-2 .parallelogram-3d-box .mrvworld {
				width: 320px;
		}
		.row-1 .col-2 .parallelogram-3d-box a {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-weight: bold;
				transform: skew(20deg);
                text-decoration: none;
		}
        
        .row-1 .col-2 .parallelogram-3d-box {
				position: relative;
				width: 200px;
				height: 40px;
				background-color: #b11616;
                margin: 10px
		}

        .parallelogram-3d-box {
            transform: skew(-20deg);
            transition: transform 0.3s ease;

        }
		
        .parallelogram-3d-box:hover {
				transform: perspective(500px) translateZ(20px);
		}
		
        .parallelogram-3d-box .front {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-weight: bold;
		}

		.mobile-menu {
				display: none;
		}

        .row-2 {
            display: flex;
            justify-content: center;
            height: 30vh;
            margin-bottom: 50px;
        }

        .row-2 .row-content {
            height: 100%;
            display: flex;
            flex-direction: row;
            
        }

		.row-2 .col-1 {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-top: 5px;
            width: auto;
            height: auto;
        }
        .row-2 .col-1 .block-1{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5px;
            width: auto;
            height: auto;
        }

        .row-2 .col-1 .picture {
            width: 150px; 
            height: 150px; 
            border-radius: 50%;
            background-color: transparent; 
            display: flex; 
            justify-content: center; 
            align-items: flex-start; 
            overflow: hidden;
            border: 2px solid #b11616;
            margin-right: 20px
        }

        .row-2 .col-1 .picture i {
            font-size: 100px; 
            color: #b11616;
            padding: 20px
        }

        .row-2 .col-1 .data {
            width: auto;
            height:auto;
            display: flex;
            flex-direction: column;
            justify-content: top;
        }

        .row-2 .col-1 .data p {
            font-weight: bold;
        }

        .edit-button {
            width:60%;
            height:40px;
            background-color: #b11616; 
            border-radius: 25px; 
            border: 2px solid #8b0000; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .edit-button:hover{
            text-decoration: none;
            transform: scale(1.02);
            box-shadow: 0 0 10px rgba(146, 88, 8, 0.5);
            cursor: pointer;
        }

        .row-2 .col-1 .data .edit-button span{
            display: inline-block; 
            padding: 10px 20px; 
            color: white; 
            text-decoration: none; 
            font-weight: bold
        }

        #modalEditMenu {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgba(0,0,0,0.7); 
        }

        #modalEditMenuContent {
            background-color: #ffffff;
            padding: 0px 20px 20px 20px;
            width: auto; 
            height: auto;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            gap: 5px;
        }

        #closeEditMenuForm {
            display: flex;
            width: 100%;
            height: 20px;
            padding-top: 10px;
            justify-content: flex-end;
        }
        #closeEditMenuForm i {
            color: #b11616;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        #closeEditMenuForm:hover,
        #closeEditMenuForm:focus {
            text-decoration: none;
            cursor: pointer;
        }

        #editProfileForm {
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: center;
            gap: 10px;
            width: 380px;
            border-radius: 10px;
            background-color: #b11616;
            padding: 20px
        }

        #editProfileForm input[type="text"],
        #editProfileForm input[type="email"] {
            width: 80%;
            padding: 12px 20px;
            display: inline-block;
            color: #b11616;
            border: 2px solid #8b0000;
            box-sizing: border-box;
            border-radius: 25px;

        }
        

        #editProfileForm input[type="text"]:focus,
        #editProfileForm input[type="email"]:focus {
            outline: none;
        }


        #editProfileForm input[type="submit"] {
            background-color: #ffffff;
            color: #b11616;
            padding: 10px;
            cursor: pointer;
            width: 60%;
            border-radius: 25px;
            border: 2px solid #8b0000;
            font-weight: bold;
        }

        #editProfileForm input[type="submit"]:hover {
            opacity: 0.8;
        }

        .button-logout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 10px;
        text-decoration: none;
        width: 30%
        }

        .button-logout i {
            color: #b11616;
            font-size:35px;
            text-decoration: none;
        }

        #buttonOpenBuyForm:hover div {
            text-decoration: none;
            transform: scale(1.02);
            box-shadow: 0 0 10px rgba(146, 88, 8, 0.5);
            cursor: pointer;
        }

        .row-2 .col-2 {
            width: 20vw;
            display: flex; 
            flex-direction: column;
            justify-content: center; 
            align-items: center;
            gap: 80px;
            height: 100%;
            margin-left: 40px;
        }

        .row-2 .col-2 .container-mrvcard {
            margin-right: 10px;
            height: 30%;
        }

        .row-2 .col-2 .container-mrvcard .text-container-mrvcard {
            height:auto; 
            display: flex; 
            flex-direction: column; 
            justify-content: center;
        }

        #modalPoints {
            display: none; 
            position: fixed; 
            top: 0;
            left: 0; 
            width: 100%; 
            height: 100%; 
            background-color: rgba(0,0,0,0.7); 
            justify-content: center; 
            align-items: center;
        }

        #modalPointsContent {
            background-color: white; 
            padding: 0px 20px 20px; 
            border-radius: 10px; 
            max-width: 4000px; 
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #closeBuyPointsForm {
            color: #b11616;
            width: 100%;
            height: 30px;
            padding-bottom: 5px;
        }

        #closeBuyPointsForm i {
            width: 30px;
            height: 100%;
            font-size: 30px; 
            font-weight: bold;
            position: relative;
            display: flex;
        }

        #closeBuyPointsForm i:hover,
        #closeBuyPointsForm i:focus {
            cursor: pointer;
            text-decoration: none;
        }

        #purchaseSubmitForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #b11616; 
            color: white; 
            padding: 20px; 
            border-radius: 10px;
            width: 400px;
            height: 150px;
        }

        #purchaseSubmitForm input[type="submit"]:hover {
            opacity: 0.8;
        }

        .row-2 .col-2 .text-container-mrvcard {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #b11616; 
            border: 3px solid #8b0000; 
            border-radius: 10px;
            padding-left: 20px; 
            padding-right: 20px; 
            width: 90%; 
            height: 100%; 
            color: white; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-between;
            align-items: center;
        }

        .row-2 .col-2 p {
            padding: 3px;
            font-weight: bold;
        }
        .row-2 .col-2 .button-buypoints {
            margin-top: 20px;
        }

		.row-2 .col-3 {
            display: flex;       
            align-items: center;
            margin-left: 40px;
			width: 40vw;
            height:auto
		}

        .row-2 .col-3 .container-packets {
            height:100%; 
            width: 100%; 
            display: flex;
            justify-content: center;  
            align-items: center;
        }
         
        .packet-box {
            display: flex;
            flex-direction: column;
            justify-content: top;
            margin-top: 5px;
            height:auto;
            width:100%;
            border: 5px solid #b11616;
            border-radius: 15px; 
            color: #b11616
        }

        .packet-header {
            text-align: center;
            padding: 0;
            margin: 0; 
            height:auto;
        }

        .packet-main {
            padding-top: 30px;
            padding-bottom: 30px;
            border-top: 3px solid #b11616;
            border-bottom: 3px solid #b11616;
            height: auto;
            overflow-x: auto;
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none;  /* For Internet Explorer and Edge */
        }

        .packet-main::-webkit-scrollbar {
            display: block; /* For Chrome, Safari, and Opera */
            scrollbar-color: #ffffff;
        }

        .packet-main:hover {
            scrollbar-width:auto; /* For Firefox */
            -ms-overflow-style: auto;  /* For Internet Explorer and Edge */
        }

        .packet-main:hover::-webkit-scrollbar {
            display: block; /* For Chrome, Safari, and Opera */
            height: 8px;
        }

        .packet-main:hover::-webkit-scrollbar-thumb {
            background-color: #b11616;
            border-radius: 4px;
        }

        .packet-main:hover::-webkit-scrollbar-track {
            background-color: #f1a92b;
        }

        .packet-footer {
        font-weight: bold; 
        text-align: center;
        padding: 0;
        margin: 0; 
        height:auto;
        }

        #packetBuyButton:hover div {
            background-color: #ff0000;
            transform: scale(1.02);
            box-shadow: 0 0 10px rgba(146, 88, 8, 0.5);
        }

        #modalPacket {
            display: none; 
            position: fixed; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height:100%; 
            background-color: rgba(0,0,0,0.7); 
            z-index: 1000; 
            justify-content: center; 
            align-items: center;
        }
        
        #modalPacketsContent {
            background-color: #b11616; 
            border: 3px solid #8b0000; 
            border-radius: 15px; 
            width: 100%; 
            max-width: 800px;
            height: auto;
            padding: 20px;
        }

        #figurines-container {
            height:250px; 
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            padding: 20px;
            color: white;
            overflow-x: auto;
            white-space: nowrap;
        }

        .figurine-entry {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }

        #figurines-container::-webkit-scrollbar {
            height: 8px;
        }

        #figurines-container::-webkit-scrollbar-track {
            background: #f1a92b;
        }

        #figurines-container::-webkit-scrollbar-thumb {
            background-color: #b11616;
            border-radius: 4px;
        }

        /* Styling the scrollbar for Firefox */
        #figurines-container {
            scrollbar-width: thin;
            scrollbar-color: #b11616 #ffffff;
        }

        .figurine-entry p {
            color: white;
            align-items: center;
        }

        .figurine-entry img {
            max-height: 80%; 
            width: auto
        }

        #returnDashButtonFigurines:hover div {
            background-color: #ff0000;
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }

        .row-3 {
            display: flex;
            justify-content: center;
            height: 75vh;
            margin-bottom: 10px;
        }

        .row-3 .row-content {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .row-3 .row-content .album {
            height: auto;
            width: 50%;
            display: flex;
        }

        .albumContainer {
            display: flex; 
            flex-direction: column;
            height: 600px; 
            width: 100%; 
            margin: 30px 30px 30px; 
            border: 4px solid #b11616; 
            color: #b11616; 
            border-radius: 10px;
        }

        .albumHeader {
            height: 10%;
            border-bottom: 3px solid #b11616;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .albumHeader p {
            color: #b11616;
            margin: 0;
            font-weight: bold;
            font-size: large;
        }

        .albumCentral {
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .pageSlider {
            margin: 10px 0;
            display: flex;
            justify-content: space-evenly;
            width: 50%;
            font-size: large;
            font-weight: bold;
        }

        .userFigurines {
            height: 90%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            overflow-y: auto;
        }

        .figurine-entry {
            width: 30%;
            margin: 10px;
            box-sizing: border-box;
        }


        .userFigurines::-webkit-scrollbar {
            width: 12px;
        }

        .userFigurines::-webkit-scrollbar-track {
            background-color: #f1a92b;
        }

        .userFigurines::-webkit-scrollbar-thumb {
            background-color: #b11616;
            border-radius: 6px;
            border: 3px solid #f1a92b;
        }

        #prevPage, #nextPage {
            cursor: pointer;
        }

        #prevPage.disabled, #nextPage.disabled {
            opacity: 0.5;
            cursor: auto;
        }


        .row-3 .row-content .character {
            height: auto;
            width: 35%;
            display: flex;
            
        }

        .characterContainer {
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: auto;
            width: 100%;
            max-height: 600px;
            margin-top: 30px;
            padding: 0px 10px;
            border: 4px solid #b11616; 
            color: #b11616; 
            border-radius: 10px;
            overflow: hidden;
        }

        .charTitle, .charImage, .charDesc, .charAppearances {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

        }

        .charTitle {
            height: 10%;
            width: 100%;
            border-bottom: 4px solid #b11616
        }

        .charTitle p {
        color: #b11616;
        font-size: 18px;
        font-weight: bold;
        align-items: center;
        }

        .charImage {
            height: 30%;
            width: 100%;
            margin-top: 30px;
        }

        .charImage img {
            border-radius: 15px;
            height: auto;
        }
        .charInfo { /* Adjust this value as needed */
        margin-top: 50px;
        }

        .charDesc {
            height: 40%;
        }

        .charDesc p {
            color: #b11616;
            font-style: italic;
        }

        .charAppearances {
            margin-top: 10px;
            height: 10%;
        }

        .charAppearances p {
            color: #b11616;
        }
        
        .row-4 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 30vh;
            margin-bottom: 50px;
        }

        .row-4 .row-content {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .row-4 .row-content .doubles {
            border-radius: 10px;
            height: auto;
            width: 50%;
            display: flex;
        }

        .doublesContainer {
            display: flex; 
            flex-direction: column;
            height: 260px; 
            width: 100%; 
            margin: 0px 30px 30px ; 
            border: 4px solid #b11616; 
            color: #b11616; 
            border-radius: 10px;
        }

        .doublesHeader {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 4px solid #b11616;
        }
    
        .doublesHeader p {
            color: #b11616;
            font-weight: bold;
            margin: 0;
        }
    
        .doubleMain {
            height: 80%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .figurine-entry-double {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 10px;
            white-space: normal;
        }
    
        .figurine-entry-double p {
            display: none;
            color:#b11616;
            margin-bottom: 5px;
        }
    
        .figurine-entry-double img {
            width: 100px; /* Adjust as needed */
            height: auto;
            border-radius: 10px;
            margin-top: 20px;
        }

        .doubleMain::-webkit-scrollbar {
            scrollbar-width: thin;
        }

        .doubleMain::-webkit-scrollbar-track {
            background-color: #f1a92b;
        }

        .doubleMain::-webkit-scrollbar-thumb {
            background-color: #b11616;
            border-radius: 6px;
            border: 3px solid #f1a92b;
        }

        .figurine-entry img, .figurine-entry-double img {
            transition: all 0.3s ease;
        }

        .figurine-entry img:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }

        .figurine-entry-double img:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }

        .figurine-entry-double #hoverBox {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }










        @media (max-width: 856px) {

            .page-container {
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .row-1 {
                display: none;
            }

            .mobile-menu {
                display: block;
                width: 100%;
            }

            .mobile-menu-icon {
                display: flex;
                flex-direction: row;
                font-size: 24px;
                cursor: pointer;
                padding: 10px;
            }

            .mobile-menu-content {
                display: none;
                width: 100%;
                background-color: #b11616;
                color: #ffffff;
                padding: 10px;
            }

            .mobile-menu-content.show {
                display: block;
                gap: 10px
            }
            
            .mobile-menu-content .mobile-menu-row {
                border-bottom: 1px solid #ffffff;
                padding: 5px
            }

            .mobile-menu-content .mobile-menu-row a {
                color: #ffffff;
            }

            .row-2 {
                height: 100vh;
            }

            .row-2, .row-3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100vw;
            }

            .row-2 .row-content,
            .row-3 .row-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%; /* Add margin between row containers */
            }
        
            .row-2 .col-1,
            .row-2 .col-2,
            .row-2 .col-3 
            .row-3 .albumContainer {
                width: 100%;
            }

            .row-2 .col-1 {
                flex-direction: column;
                align-items: center;
            }

            .row-2 .col-1 .picture {
                width: 80%;
                margin-right: 0;
                margin-bottom: 20px;
            }

            .row-2 .col-1 .data {
                width: 100%;
                align-items: center;
            }

            .row-2 .col-2 {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 20px;

            }

            .row-2 .col-2 .container-mrvcard {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                height: 150px;
            }


            .packet-box {
                width: 100%;
            }

            .row-2 .col-2 .button-buypoints {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                margin-top: 0px
            }


            .row-3 {
                height: 75vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100vw;
            }

            .row-3 .row-content .album {
                width: 100%;
            }

            .row-3 .row-content .album .albumContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

            }

            .albumHeader {
                width: 100%;
                border-bottom: 3px solid #b11616;
            }

            .row-2 .col-3 {
			width: 80%;
            margin-top: 30px
		    }

            #modalPacketsContent {
                width: 80%
            }

            .row-3 .row-content .character {
            height: 500px;
            width: 80%;
            display: flex;
            }

            .characterContainer {
                height: 500px;
                margin-top: 0;
            }

            .row-4 {
                width: 100%;
            }

            .row-4 .row-content {
                width: 100%;
                justify-content: center;  
            }

            .row-4 .row-content .doubles {
                width: 90%;
            }
            .doublesContainer {
                margin: 0;
            }
}

	</style>
</head>

<body>
	<div class="page-container">
		<div class="row row-1">
			<div class="row-content">
				<div class="col col-1 ">
					<div class="block block-1 title" onclick="window.location.href = '/';" style="cursor: pointer;"> 
                        <h3> See Heroes </h3> 
                    </div>
				</div>
				<div class="col col-2 ">
					<div class="container col-2">
                        <div class="parallelogram-3d-box market"> 
                            <a href="/marketplace">Marketplace</a>
                        </div>
                        <div class="parallelogram-3d-box mrvworld"> 
                            <a href="https://www.marvel.com/articles" target="_blank" >Marvel World News</a>
                        </div>
                        <div class="parallelogram-3d-box faq"> 
                            <a href="/#faq">FAQs</a>
                        </div>
                    </div>
				</div>
            </div>
		</div>

        <div class="mobile-menu">
            <div class="mobile-menu-icon" onclick="toggleMobileMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <div class="mobile-menu-content">
                <div class="mobile-menu-row mobile-row-1">
                    <a href="/marketplace"> Marketplace </a>
                </div>
                    <br>
                <div class="mobile-menu-row mobile-row-3">
                    <a href="/mrvworld"> Marvel World News </a>
                </div>
                    <br>
                <div class="mobile-menu-row mobile-row-4">
                    <a href="/faq"> FAQs </a>
                </div>
            </div>
        </div>

        <script>
            function toggleMobileMenu() {
                const mobileMenuContent = document.querySelector('.mobile-menu-content');
                mobileMenuContent.classList.toggle('show');
            }
        </script>


		<div class="row row-2" >
			<div class="row-content">
				<div class="col col-1 profile">
                    <div class="block block-1">
                        <div class="block picture" >
                            <i class="fas fa-user user-icon"></i>
                        </div>
                        <a href="/account/logout" class="button-logout"><i class="fas fa-sign-out-alt"></i></a>	
                    </div>
					<div class="block block-2 data">
                        <p><%= user_profile.name %></p>
                        <p><%= user_profile.username %></p>
                        <p><%= user_profile.email %></p>
                        <br>
                        <a class="edit-button" onclick="openEditMenu()">
                            <div>
                                <span>Edit Profile</span>
                            </div>
                        </a>
                    </div>
				</div>
                <div id="modalEditMenu" style="padding: 0">
                    <div id="modalEditMenuContent">
                        <a id="closeEditMenuForm">
                            <i onclick="document.getElementById('modalEditMenu').style.display='none'; document.getElementById('editProfileForm').reset();" >&times;</i>
                        </a>
                        <form id="editProfileForm" style="position: relative; color: #b11616;">
                            <input type="text" id="name" name="name" placeholder="Name" style="color: #b11616;">
                            <input type="text" id="username" name="username" placeholder="Username" style="color: #b11616;">
                            <input type="email" id="email" name="email" placeholder="Email" required style="color: #b11616;">
                            <input type="submit" value="Update Profile" style="color: #b11616;">
                        </form>
                    </div>
                </div>
                
				
				<div class="col col-2 mrvcard">
					<div class="container-mrvcard">
                        <div class="text-container-mrvcard" >
                            <h3 style="text-align: left; margin: 0;"> <%= user_profile.username %>'s Marvel Card</h3>
                            <br>
                            <h3 style="text-align: left; margin: 0;">Points: <%= user_profile.points %></h3>
                            <br>
                            <p style="text-align: left; margin: 0;">Date Created: <%= user_profile.createdAt %></p>                       
                        </div>
                    </div>
                    <div class="button-buypoints"">
                        <a onclick="openBuyForm()" id="buttonOpenBuyForm" style="text-decoration: none; color: white">
                            <div style="padding: 10px 20px; background-color: #b11616; color: white; text-decoration: none; border-radius: 25px; font-weight: bold; border: 2px solid #8b0000;">
                                <span>Buy Points</span>
                            </div>
                        </a>
                    </div>
                        <div id="modalPoints" style="padding: 0">
                            <div id="modalPointsContent">
                                <!-- <span onclick="document.getElementById('modalPoints').style.display='none'; document.getElementById('purchaseSubmitForm').reset(); document.getElementById('totalCost').innerHTML = 'Total Cost: 1 €'; " id="buttonOpenBuyForm" class="close" style="position: relative; color: #b11616; font-size: 36px; cursor: pointer; display: block; height: 30px">&times;</span> -->
                                    <a id="closeBuyPointsForm" >
                                        <i onclick="document.getElementById('modalPoints').style.display='none'; document.getElementById('purchaseSubmitForm').reset(); document.getElementById('totalCost').innerHTML = 'Total Cost: 1 €'; " style="color: #b11616;">&times;</i>
                                    </a>
                                    <form id="purchaseSubmitForm" style="position: relative; padding-top: 30px;">
                                    <select id="amount" name="amount" style="width: 60%; margin-bottom: 10px; background-color: white; color: #b11616; border: 2px solid #b11616; border-radius: 25px; padding: 5px;" onchange="updateTotalCost()">
                                        <% for (let i = 1; i <= 100; i++) { %>
                                            <option value="<%= i %>"><%= i %> points</option>
                                        <% } %>
                                    </select>
                                    <br>
                                    <label id="totalCost">Total Cost: 1€</label>
                                    <br>
                                    <script>
                                        function updateTotalCost() {
                                            var amount = document.getElementById('amount').value;
                                            document.getElementById('totalCost').innerHTML = 'Total Cost: ' + amount + '€';
                                        }
                                    </script>
                                    <input type="submit" value="Purchase" style="width: 60%; margin-top: 10px; padding: 10px; background-color: white; color: #b11616; border: 2px solid #b11616; border-radius: 25px; cursor: pointer;">
                                </form>
                            </div>
                        </div>
				</div>				
                
                <div class="col col-3 packets">
					<div class="container-packets">
						<div class="packet-box">
                            <div class="packet-header">
                                <p style="font-weight: bold;">Your Packets</p>
                            </div>
                            <div class="packet-main">
                                <ul class="packet-list" style=" list-style-type: none; padding: 0; display: flex; justify-content: space-around; align-items: center; height: 50px">
                                    <% user_packets.forEach(function(packet) { %>
                                    <li style="margin-right: 40px; margin-left: 10px">
                                        <a id="button-openpacket" onclick="openPacket(this)" style="cursor: pointer;">
                                            <svg width="70" height="100" viewBox="0 0 70 100" data-key="<%= packet._id %>">
                                                <defs>
                                                    <pattern id="stripes" patternUnits="userSpaceOnUse" width="10" height="10">
                                                        <rect width="10" height="5" fill="#b11616"/>
                                                        <rect width="10" height="5" y="5" fill="#8b0000"/>
                                                    </pattern>
                                                </defs>
                                                <path d="M0,6.25 L5.83,0 L11.67,6.25 L17.5,0 L23.33,6.25 L29.17,0 L35,6.25 L40.83,0 L46.67,6.25 L52.5,0 L58.33,6.25 L64.17,0 L70,6.25 V93.75 L64.17,100 L58.33,93.75 L52.5,100 L46.67,93.75 L40.83,100 L35,93.75 L29.17,100 L23.33,93.75 L17.5,100 L11.67,93.75 L5.83,100 L0,93.75 Z" fill="url(#stripes)" stroke="#000000"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <% }); %>
                                </ul>							
                            </div>
                            <div class="packet-footer" style="display:flex; justify-content: center; padding: 20px;">
                                <a id="packetBuyButton" style="text-decoration: none; color: white" href="/account/dashboard/buypackets" style="margin: 0; color: white;">
                                    <div style="width:200px; background-color: #b11616; border: 2px solid #8b0000; border-radius: 25px; padding: 10px;">
                                        <span>Buy packets</span>
                                    </div>
                                </a>
                            </div>
						</div>
                    </div>
				</div>
			</div>



		</div>
		<div class="row row-3">
			<div class="row-content">
				<div class="col col-1 album">
                    <!-- album -->
                    <div class="albumContainer">
                        <div class="albumHeader">
                            <p class="albumTitle">Album</p>
                        </div>
                        
                        <div class="albumCentral">
                            <div class="pageSlider">
                                <span id="prevPage">←</span>
                                <span id="pageNum"></span>
                                <span id="nextPage">→</span>
                            </div>
                            <div class="userFigurines">
                                <!-- This container will be filled dynamically on dashboard load -->
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col col-2 character">
					<div class="characterContainer">
                        <div class="charTitle">
                            <p></p>
                        </div>
                        <div class="charImage">
                            <img src="" alt="Character Image">
                        </div>
                        <div class="charInfo">
                            <div class="charDesc">
                                <p></p>
                            </div>
                            <div class="charAppearances">
                                <p></p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>

		<div class="row row-4">
			<div class="row-content">
				<div class="col col-1 doubles">
                <!-- container for double figurines -->
                    <div class="doublesContainer">
                        <div class="doublesHeader">
                            <p>Doubles Figurines</p>
                        </div>
                        <div class="doubleMain">
                            <% user_doublefigurines.forEach(function(figurine) { %>
                            <div class="figurine-entry-double">
                                <div style="position: relative;">
                                    <% if(figurine.image_path.endsWith('image_not_available')) { %>
                                        <div id="noImagePlaceholder" style="margin-top: 20px; width: 100px; height: 150px; border-radius: 10px; border: 2px solid #8b0000; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;">
                                            <span style="font-size: medium; font-weight: bold"><%= figurine.name %></span>
                                            <span>Image</span>
                                            <span>Not</span>
                                            <span>Available</span>
                                        </div>
                                    <% } else { %>
                                        <img src="<%= figurine.image_path %>/portrait_small.<%= figurine.ext %>" alt="Figurine Image"
                                        onerror="this.parentNode.innerHTML = `<div style='margin-top: 20px; width: 100px; height: 150px; border: 2px solid #8b0000; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;''>
                                            <span style='font-size: medium; font-weight: bold'><%= figurine.name %></span><span>Image</span><span>Not</span><span>Available</span></div>`">
                                    <% } %>
                                </div>
                            </div>
                            <!-- Repeat the figurine-entry div for each figurine -->
                            <% }); %>
                        </div>
                    </div>
				</div>

				<div class="col col-2 ">
				
				</div>
			</div>
		</div>
	</div>



    <div id="modalPacket" style="display: none;">
        <div id="modalPacketsContent">
            <div id="loadingContent" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <p style="margin-right: 10px; color: white;">Opening packet</p>
                <i class="fas fa-spinner fa-spin" style="color: white; font-size: 24px;"></i>
            </div>
            <div id="figurinesContent" style="display: none;">
                <div style="height: 30px; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #ffffff;">
                    <p style="margin: 0; color: white; font-weight: bold;">Figurines Found</p>
                </div>
                <div id="figurines-container">
                <!--
                <div class="figurine entry">
                    <span></span>
                    <img classstyle="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                <div class="figurine entry">
                    <span></span>
                    <img style="max-height: 80%; width: auto;">
                </div>
                 -->
                </div>
                <div style="height: 80px; display: flex; justify-content: center; align-items: center; border-top: 1px solid #ffffff;">
                    <a id="returnDashButtonFigurines" href="/account/dashboard" style="text-decoration: none; color: white; width: 40%; text-align: center;">
                        <div style="background-color: #b11616; border: 2px solid #8b0000; border-radius: 25px; padding: 10px; transition: all 0.3s ease;">
                            <p style="margin: 0;">Return to Dashboard</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <% if(messages.errors) { %>
        <script>
            const errors = <%- JSON.stringify(messages.errors) %>;
            alert(errors[0].msg);
        </script>
    <% } %>
    
    

    <script>
        function openEditMenu() {

            document.getElementById('modalEditMenu').style.display = 'flex';
            
            document.getElementById('editProfileForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = {
                name: document.getElementById('name').value,
                username: document.getElementById('username').value,
                email: document.getElementById('email').value
            };

            fetch('/account/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                document.getElementById('modalEditMenu').style.display='none';
                document.getElementById('editProfileForm').reset();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            });
        }

        function openBuyForm() {
            const modal = document.getElementById('modalPoints');
            const moadlContent = document.getElementById('modalPointsContent');
            const purchaseForm = document.getElementById('purchaseSubmitForm');

            modal.style.display = "flex";

            purchaseForm.addEventListener('submit', function(event) {

                event.preventDefault();

                const updatedData = {
                    pointsAmount: document.getElementById('amount').value
                }

                fetch('/account/dashboard/buypoints/confirm', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(updatedData)
                })
                    .then(response => response.json())
                        .then((data) => {
                            if(data.success) {
                                purchaseForm.reset();
                                document.getElementById('totalCost').innerHTML = 'Total Cost: 1 €';
                                modal.style.display = 'none';
                            }
                            else {
                                alert('error adding points');
                            }
                        })
                        .catch((error) => {
                        console.error('Error:', error);
                        });
            });
        }
    </script>
    <script>
    function openPacket(a_container) {
        const packet_id = a_container.children[0].getAttribute('data-key');
        const Extractedfigurines = document.getElementById('figurines-container');
        const modalPacket = document.getElementById('modalPacket');
        const loadingContent = document.getElementById('loadingContent');
        const figurinesContent = document.getElementById('figurinesContent');

        modalPacket.style.display = 'flex';
        loadingContent.style.display = 'flex';
        figurinesContent.style.display = 'none';

        fetch('/account/dashboard/packets/' + packet_id)
            .then((figurines_data) => figurines_data.json())
            .then((figurines_data_json) => {
                console.log(figurines_data_json);
                let figs_count = 0;

                const displayFigs = () => {
                    console.log(figurines_data_json[figs_count]);
                    const figurine_entry = document.createElement('div');
                    figurine_entry.className = 'figurine-entry'; 
                    const fig_title = document.createElement('p');
                    fig_title.innerHTML = figurines_data_json[figs_count].name;
                    const fig_image = document.createElement('img');
                    fig_image.src = figurines_data_json[figs_count].image_path + '/portrait_medium.' + figurines_data_json[figs_count].ext;
                    fig_image.onerror = function() {
                    this.onerror = null;
                    this.src = `http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available/portrait_medium.jpg`;
                    };
                    fig_image.style.setProperty('border-radius', '10px');
                    Extractedfigurines.appendChild(figurine_entry);
                    figurine_entry.appendChild(fig_title);
                    figurine_entry.appendChild(fig_image);
                    figs_count++;
                    if(figs_count == figurines_data_json.length) {
                        loadingContent.style.display = 'none';
                        figurinesContent.style.display = 'block';
                        return;
                    } else {
                        displayFigs();
                    }
                }
                displayFigs();
            })
            .catch((error) => {
                Extractedfigurines.innerHTML = 'Unable to fetch packet data';
                loadingContent.style.display = 'none';
                figurinesContent.style.display = 'block';
            });
    }
    </script>
    <script>
        const userFigurines = <%- JSON.stringify(user_figurines); %> // document.querySelector('.userFigurines').getAttribute('value')
        /***
        JSON.stringify performs the opposite operation of JSON.parse. 
        It converts JavaScript objects or arrays into a JSON string. 
        This process is called serialization.
        The <%- %> EJS tags are used in dashboard.ejs:1222 to output unescaped HTML. 
        In this case, it's necessary because JSON.stringify() produces a string 
        that may contain characters that would be escaped by default EJS output tags (<%= %>).
        ***/
        
        console.log(userFigurines);
        const figurinesPerPage = 24; 
        const totalPages = Math.ceil(userFigurines.length / figurinesPerPage);
        let currentPage = 1;
        
    
        function renderPage(pageNumber) {
            const container = document.querySelector('.userFigurines');
            container.innerHTML = '';
            const startIndex = (pageNumber - 1) * figurinesPerPage;
            const endIndex = startIndex + figurinesPerPage;
            const pageFigurines = userFigurines.slice(startIndex, endIndex);
            
            pageFigurines.forEach(figurine => {
                container.appendChild(createFigurineElement(figurine));
            });
            
            updateNavigationButtons();
        }

        function createFigurineElement(figurine) {
            const container = document.createElement('a');
            container.id = "buttonDisplayCharacter";
            container.onclick = function() { displayChar(this); };
            container.style.cssText = "cursor: pointer; margin-left: 50px";

            const figurineEntry = document.createElement('div');
            figurineEntry.className = "figurine-entry";
            figurineEntry.setAttribute('figurineId', figurine.id_figurine);
            figurineEntry.style.cssText = "width: 30%; margin: 10px; box-sizing: border-box;";

            if (figurine.image_path.endsWith('image_not_available')) {
                const noImageDiv = document.createElement('div');
                noImageDiv.style.cssText = "width: 100px; height: 150px; border-radius: 10px; border: 2px solid #8b0000; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;";
                noImageDiv.innerHTML = `<span style="font-size: medium; font-weight: bold">${figurine.name}</span><span>Image</span><span>Not</span><span>Available</span>`;
                figurineEntry.appendChild(noImageDiv);
            } else {
                const img = document.createElement('img');
                img.style.borderRadius = "10px";
                img.src = `${figurine.image_path}/portrait_medium.${figurine.ext || 'jpg'}`;
                img.onerror = function() {
                    this.onerror = null;
                    this.parentNode.innerHTML = `<div style="width: 100px; height: 150px; border: 2px solid #8b0000; border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; font-size: 10px; line-height: 1.2;"><span style="font-size: medium; font-weight: bold">${figurine.name}</span><span>Image</span><span>Not</span><span>Available</span></div>`;
                };
                figurineEntry.appendChild(img);
            }

            container.appendChild(figurineEntry);
            return container;
        }
        
        function updateNavigationButtons() {
            const prevButton = document.getElementById('prevPage');
            const nextButton = document.getElementById('nextPage');
            const pageNum = document.getElementById('pageNum')
            pageNum.innerHTML = 'Page ' + currentPage;

            prevButton.classList.toggle('disabled', currentPage === 1);
            nextButton.classList.toggle('disabled', currentPage === totalPages);
        }
        
        document.getElementById('prevPage').addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                renderPage(currentPage);
            }
        });
        
        document.getElementById('nextPage').addEventListener('click', () => {
            if (currentPage < totalPages) {
                currentPage++;
                renderPage(currentPage);
            }
        });
        
        // Initial render
        renderPage(1);
    </script>
    <script>
    function displayChar(a_container) {
        const figId = a_container.children[0].getAttribute('figurineId');
        const charContainer = document.querySelector('.characterContainer');
        const charTitle = document.querySelector('.charTitle p');
        const charImage = document.querySelector('.charImage img');
        const charDesc = document.querySelector('.charDesc p');
        const charAppearances = document.querySelector('.charAppearances p');



        fetch(`/account/dashboard/fig/${figId}`)
            .then((figurine) => figurine.json())
                .then((figurine_json) => {
                charTitle.textContent = figurine_json.name;
                charImage.src = `${figurine_json.image_path}/landscape_xlarge.${figurine_json.ext}`;
                charImage.onerror = function() {
                    this.onerror = null;
                    this.src = `http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available/landscape_xlarge.jpg`;
                };
                charDesc.textContent = figurine_json.description || 'No description available.';

                charAppearances.innerHTML = `${figurine_json.name} appears in: \n ${figurine_json.appearances[0]} comics \n ${figurine_json.appearances[1]} series \n ${figurine_json.appearances[2]} stories \n ${figurine_json.appearances[3]} events`;
                
                charContainer.style.display = 'flex';
                adjustLayout()
                return
            })
            .catch(error => console.error('Couldn\'t retrieve figurine from db, Error:', error));
    }

    function adjustLayout() {
        const windowWidth = window.innerWidth;
        const charContainer = document.querySelector('.characterContainer');
        const row3 = document.querySelector('.row-3');

        if (windowWidth <= 856 && charContainer.style.display === 'flex') {
            row3.style.height = '135vh';
        } else {
            row3.style.height = '75vh';
        }
    }

    window.addEventListener('resize', adjustLayout);


    
    /*
        .then(response => response.json())
        .then(data => {
            const character = data.data.results[0];
            charTitle.textContent = character.name;
            charImage.src = `${character.thumbnail.path}/landscape_xlarge.${character.thumbnail.extension}`;
            charDesc.textContent = character.description || 'No description available.';
            
            const comicsLink = `<a href="${character.comics.collectionURI}">comics</a>`;
            const seriesLink = `<a href="${character.series.collectionURI}">series</a>`;
            const storiesLink = `<a href="${character.stories.collectionURI}">stories</a>`;
            
            charAppearances.innerHTML = `${character.name} appears in: 
                ${character.comics.available} comics, 
                ${character.series.available} series, 
                ${character.stories.available} stories`;

            charContainer.style.display = 'flex';
            return
        })
        .catch(error => console.error('Error:', error));
        */


    </script>

</body>

</html>